@tailwind base;
/* @layer base {
  html {
    @apply bg-[#f6f5f4];
  }
} */
@tailwind components;
@tailwind utilities;

:root {
  --rounded-btn: 12px;
  background-color: #f6f5f4;
  --rounded-box: 8px;
  --padding-card: 14px;
}

header.scrolled {
  .wrap {
    @apply z-10;
    nav {
      @apply mt-1 bg-white/50 drop-shadow-xl;
    }
    .logo {
      @apply text-base hover:bg-transparent;
      > img {
        @apply h-10;
      }
    }
  }
}

.banner {
  @apply relative h-[480px] w-full overflow-hidden rounded-2xl;
  &::after {
    @apply absolute bottom-0 left-1/2 h-24 w-full -translate-x-1/2 bg-gradient-to-t from-white via-white/60 to-white/0 content-[''];
  }
  & > img {
    @apply object-cover object-[0_60%];
  }
}

ul.list-line {
  @apply text-left;
  > li {
    @apply relative mb-2 pl-14;
    &::before {
      @apply absolute left-0 top-3.5 h-[2px] w-[35px] bg-black/50 content-[''];
    }
    &.accent {
      @apply text-accent;
    }
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .spinner {
    width: 100px;
    height: 75px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    border-radius: 100%;
  }
  .spinner:before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    border: 15px solid transparent;
    border-top: 25px solid #fff;
    transform: rotate(45deg);
    top: 50px;
    left: -15px;
  }

  .spinner:after {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #ff3d00;
    box-shadow: 20px 0 #ff3d00, -20px 0 #ff3d00;
    animation: flash 0.5s ease-out infinite alternate;
  }
}

@keyframes flash {
  0% {
    background-color: rgba(255, 60, 0, 0.25);
    box-shadow: 20px 0 rgba(255, 60, 0, 0.25), -20px 0 #ff3d00;
  }
  50% {
    background-color: #ff3d00;
    box-shadow: 20px 0 rgba(255, 60, 0, 0.25), -20px 0 rgba(255, 60, 0, 0.25);
  }
  100% {
    background-color: rgba(255, 60, 0, 0.25);
    box-shadow: 20px 0 #ff3d00, -20px 0 rgba(255, 60, 0, 0.25);
  }
}
